<div class="container">

<%= @flights %>

  <h4>Flight Results: </h4>
    <div class= "card" style="width: 30rem;">
    <% @flights.each do |flights| %>
      <% if flights['data'].any? %>
        <% flights['data'].each do |data| %>
          <% data['route'].each do |route| %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <% dep_time = route["dTime"] %>
                <% dep_time_format = DateTime.strptime(dep_time.to_s,'%s') %>
                <% arr_time = route["aTime"] %>
                <% arr_time_format = DateTime.strptime(arr_time.to_s,'%s') %>
                <% ret_dep_time = data['route'][1]["dTime"] %>
                <% ret_dep_time_format = DateTime.strptime(ret_dep_time.to_s,'%s') %>
                <% ret_arr_time = data['route'][1]["aTime"] %>
                <% ret_arr_time_format = DateTime.strptime(ret_arr_time.to_s,'%s') %>
                <p>Departure: <%= dep_time_format.strftime("%H:%M") %> <%= dep_time_format.strftime("%A") %>, <%= dep_time_format.strftime("%d") %> <%= dep_time_format.strftime("%B") %> <%= dep_time_format.strftime("%Y") %> - Arrival: <%= arr_time_format.strftime("%H:%M") %> (Airline: <%= @airlines.find { |airline| airline["id"] == route["airline"] }["name"] %>)</p>
                <p>Returning: <%= ret_dep_time_format.strftime("%H:%M") %> <%= ret_dep_time_format.strftime("%A") %>, <%= ret_dep_time_format.strftime("%d") %> <%= ret_dep_time_format.strftime("%B") %> <%= ret_dep_time_format.strftime("%Y") %> - Arrival: <%= ret_arr_time_format.strftime("%H:%M") %> (Airline: <%= @airlines.find { |airline| airline["id"] == data['route'][1]["airline"] }["name"] %>)</p>
                <p>From: <%= data['mapIdfrom'].capitalize %> (<%= data['flyFrom'] %>) - To: <%= data['mapIdto'].capitalize %> (<%= data['flyTo'] %>)</p>
                <!-- <p>Departure City: <%#= data['mapIdfrom'] %></p> -->
                <!-- <p>Arrival City: <%#= data['mapIdto'] %></p> -->
                <p>Price: £<%= data['price'] %></p>
                <p>Duration: <%= data['fly_duration'] %></p>
                <p>Flight Number: <%= route["flight_no"] %></p>
              </li>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

