<h1>Price Breakdown</h1>
<%= @flights %>
<% @flights.each do |flight| %>
  <div class="flight", style="background-color: white">
    <h3>Departure flight</h3>
      <p>Departure date<%= flight.departure_date %></p>
      <p>Arrival date<%= flight.arrival_date %></p>
      <p>full dep <%= flight.full_departure_date %></p>
      <p>full arrival<%= flight.full_arrival_date %></p>
      <p>Flight number<%= flight.flight_number %></p>
      <p>price <%= flight.price_cents %></p>
      <p>currency <%= flight.price_currency %></p>
      <p>departure city id<%= flight.departure_city_id %></p>
      <p>arrival city id <%= flight.arrival_city_id %></p>

    <h3>Returning flight</h3>

  </div>
<% end %>

<%= link_to "Proceed with booking",  bookings_path(Booking.new), class:"btn-treehouse"%>
