<div class="container">
  <h1 class="text-center my-3 price-breakdown-title">Price Breakdown</h1>
  <div class="flights">
    <div class="flights-2">
      <% counter = 0 %>
      <% @flights.each do |flight_pair| %>
        <% counter += flight_pair[0].price_cents %>

        <div class="boarding-card">
          <div class="details">
            <div class="departing flight-details">
              <h3><%= flight_pair[0].departure_city.name %> - <%= flight_pair[0].arrival_city.name %></h3>
              <p>Duration: <%= flight_pair[0].duration %></p>
              <p><%= DateTime.strptime(flight_pair[0].full_departure_date.to_s,'%s').strftime("%H:%M") %></p>
              <p><%= flight_pair[0].departure_date.strftime("%A, %d %B %Y") %></p>
            </div>
            <div class="returning flight-details">
              <h3><%= flight_pair[1].departure_city.name %> - <%= flight_pair[1].arrival_city.name %></h3>
              <p>Duration: <%= flight_pair[1].duration %></p>
              <p><%= DateTime.strptime(flight_pair[1].full_departure_date.to_s,'%s').strftime("%H:%M") %></p>
              <p><%= flight_pair[1].departure_date.strftime("%A, %d %B %Y") %></p>
            </div>
          </div>
          <div class="total-cost">
            Roundtrip: <%= flight_pair[1].price_cents %>£
          </div>
        </div>
      <% end %>
    </div>
    <div class="price-next", style="background-color: white;">
      <p class="total-price">Total price: <%= @flights.map { |flight_pair| flight_pair[0].price_cents }.sum %>£</p>
      <p class="booking-link text-center"><%= link_to "Proceed with booking",  bookings_path(plan_id: params[:plan], flight_ids: params[:flight]), method: :post, class:"btn-pay"%></p>
    </div>
  </div>
</div>



