<h1>Trip Details</h1>

<h3>Flight information</h3>

<% @booking.flights.each_with_index do |flight, index| %>
  <div style="border: 1px solid black">
    <p>
      <% index.even? ? "Departing flight -" : "Arriving flight -" %>
      <%= flight.departure_date.strftime("%A, %d %B %Y") %>
    </p>
    <p>
      <i class="far fa-circle" style="font-size: 1em"></i>
      <%= DateTime.strptime(flight.full_departure_date.to_s,'%s').strftime("%H:%M") %> - <%= flight.departure_city.name %>
    </p>
    <div class="d-flex">
      <i class="fas fa-ellipsis-v" style="font-size: 2em"></i>
      <p class="px-3">Travel time: <%= flight.duration %></p>
    </div>
    <p>
      <i class="far fa-circle" style="font-size: 1em"></i>
      <%= DateTime.strptime(flight.full_arrival_date.to_s,'%s').strftime("%H:%M") %> - <%= flight.arrival_city.name %>
    </p>
    <p>Flight <%= flight.flight_number %></p>
    <% if index.odd? %>
      <p class="pl-3">Price: <%= flight.price_cents  %>£</p>
    <% end %>
  </div>
<% end %>


<h3>Passenger details</h3>
<p>First name: <%= @booking.first_name_passenger %></p>
<p>Last name: <%= @booking.last_name_passenger %></p>
<p>Email: <%= @booking.email %></p>
<p>Passport: <%= @booking.passport %></p>
<p>Nationality: <%= @booking.nationality %></p>
<p>Date of Birth: <%= @booking.dob %></p>


<%#= raise %>


<%= link_to "Confirm", confirmation_booking_path(@booking) %>
