<div class="container">
  <%= simple_form_for @plan do |f| %>
    <% if @plan.cities.blank? %>
        <div class="cities-container">
          <%= f.association :cities, as: :select, collection: City.all, input_html: { class:'select2' } %>
          <%= f.submit %>
        </div>
    <% else %>
      <%= simple_form_for :trip_dates, url: plan_path(@plan), method: :patch do |f| %>
        <% @plan.cities.count.times do |count| %>
          <%= f.input 'start_dates[]', as: :date %>
          <%= f.input 'end_dates[]', as: :date %>
        <% end %>
        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>
</div>


<!-- <script>
  // const btn = document.getElementById('next-step');
  // cities = document.querySelector('.cities-container');
  // dates = document.querySelector('.dates-container');
  // btn.addEventListener('click', (event) => {
  //   cities.classList.add('d-none');
  //   dates.classList.remove('d-none');
  // });
</script>
 -->
