`
<div class="container">
  <div class="white-box">
    <%= simple_form_for @plan do |f| %>
      <%if @plan.cities.blank? %>
        <h2 class="text-center">Choose your destinations</h2>
        <div class="cities-container">
        <%= f.association :cities, as: :select, collection: City.all, input_html: { class:'select2'} %>
        <div class="my-3 submit-btn-center"><%= f.button :submit, "Submit", class:"btn-treehouse" %></div>
        </div>
      <% else %>
        <h2 class="text-center">Choose your available dates</h2>
        <%= simple_form_for :trip_dates, url: plan_path(@plan), method: :patch do |f| %>
          <% counter = 1 %>
          <% @plan.cities.size.times do |count| %>
            <div class="container">
              <div class="date-space">
                <div>
                  <p class="text-center date-counter"><strong>Date <%= counter %></strong></p>
                  <% counter += 1 %>
                </div>
                <div class="row">
                  <div class="col">
                    <%= f.input 'start_dates', as: :string, input_html: {class: "datepicker-#{count}", id: "start-date-#{count}", name: 'trip_dates[start_dates][]'} %>
                  </div>
                  <div class="col">
                   <%= f.input 'end_dates', as: :string, input_html: {class: "datepicker-#{count} end-date-#{count}", id: "end-date-#{count}", name: 'trip_dates[end_dates][]'} %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <div id="btn-loading" class="my-3 submit-btn-center"><%= f.button :submit, "Submit", class:"btn-treehouse" %></div>
      <% end %>
    <% end %>
   <% end %>
  </div>
</div>
<div class="hidden">
  <div class="airplane-container">
    <div id="loading" class="">
      <%= image_tag "airplane.png", alt: "Aereo", width: 400%> Finding your flights...
    </div>
  </div>
</div>

<script>
  const loadingPage = document.querySelector("#btn-loading input");
  // console.log(loadingPage);
  loadingPage.addEventListener("click", (event) => {
  document.querySelector(".hidden").classList.remove("hidden")
  document.querySelector("#loading").classList.add("loading")
  document.querySelector(".white-box").classList.add("hidden")

  });

  // const loadingPlane = (event) => {

  // };
</script>



